
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 28% 17%;
    --foreground: 0 0% 98%;

    --card: 217 25% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 217 25% 12%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 100%;
    --primary-foreground: 217 33% 17%;

    --secondary: 217 19% 27%;
    --secondary-foreground: 0 0% 98%;

    --muted: 217 19% 27%;
    --muted-foreground: 215 20% 65%;

    --accent: 215 25% 27%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62% 50%;
    --destructive-foreground: 0 0% 98%;

    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 215 20% 65%;

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply rounded-full bg-secondary/80;
  }

  .text-balance {
    text-wrap: balance;
  }
}
